<div class="card">
    <div class="row no-gutters">
      <div class="col-4 p-2">
        <img
          src="../../assets/images/Salud_Auditiva_001.jpg"
          class="card-img img-fluid"
          alt="ejemplo"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title">
            Municipio inicia programa piloto “Salud Auditiva para Ancud”
          </h1>
          <h4 class="card-text">
            Con la implementación del programa piloto de Salud Auditiva para Ancud, el alcalde Carlos Gómez Miranda informó el inicio de nuevas prestaciones para vecinas y vecinos de los sectores urbanos y rurales de la comuna.
          </h4>
          <h5 class="card-text">
            <small class="text-muted"
              >Noticia actualizada hace 3 min.</small
            >
          </h5>
        </div>
      </div>
    </div>
  </div>