.row-top {
  height: 66.6%;
}

.left-container {
  height: 100%;
}

.right-container {
  height: 100%;
}

.img-published {
  background-image: url(../../assets/images/campaign/campeonato-nacional.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;
}

.row-bottom {
  height: 33.4%;
}
.row-bottom .left-container {
  height: 100%;
}

.row-bottom .right-container {
  height: 100%;
  background-color: white;
  padding: 5% 0 !important;
}
