<div class="row row-top">
    <div class="col-9 left-container p-0">
      <app-video></app-video>
    </div>
    <div class="col-3 right-container p-0 img-published">
        <app-ads></app-ads>
    </div>
  </div>
  <div class="row row-bottom">
    <div class="col-9 left-container p-2 bg-primary">
      <app-news></app-news>
    </div>
    <div class="col-3 right-container jumbotron jumbotron-fluid bg-primary">
      <app-date></app-date>
    </div>
  </div>