<div class="date-container container text-center">
    <h1 class="display-4 text-white">
      <strong>30 de Diciembre 2019</strong>
    </h1>
    <h1 class="display-1 text-white"><strong>11:20</strong></h1>
  </div>