body {
  overflow: hidden;
}

h1 {
  font-size: 2.2vw;
}
h2 {
  font-size: 2vw;
}
h3 {
  font-size: 1.8vw;
}
h4 {
  font-size: 1.4vw;
}
h5 {
  font-size: 1.2vw;
}
p {
  font-size: 1vw;
}

.display-4 {
  font-size: 2.3vw;
}

.display-1 {
  font-size: 4.8vw;
}
