.video-container {
  height: 100%;
  background-color: currentColor;
}

.video-container-start {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.video-container-start:before {
  content: "";
  position: absolute;
  width: 297px;
  height: 23%;
  top: 45%;
  left: -150%;
  z-index: -1;
  background: url(../../assets/images/logotipo-clinica-cordillera-recorte.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.video-container-end {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.video-container-end:before {
  content: "";
  position: absolute;
  width: 297px;
  height: 23%;
  top: 42%;
  left: -150%;
  z-index: -1;
  background: url(../../assets/images/logotipo-clinica-cordillera-recorte.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
