<div class="row h-100">
    <div class="col-1 p-0 video-container-start"></div>
    <div class="col-10 video-container p-0">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://www.youtube.com/embed/B0XYBcxWSWE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-1 p-0 video-container-end"></div>
  </div>